*{

}
.contenedor {
    display: flex;
  }
  .main-container {
    .bg-white {
      padding: 15px;
    }
  }
  .main {
    flex-grow: 1;
    padding: 15px 15px;
    .barra {
      height: 50px;
      
    }
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    background: #424655; 
    min-height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    align-items: flex-start;
    
  }
  
  .logo {
  
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }
  .logo-sym {
    vertical-align: middle;
  }
  .logo-texto {
    margin-left: 10px;
  }
  
  .user {
    margin-top: 20px;
    padding-left: 10px;
  }
  .user img {
    border-radius: 50%;
    height: 50px;
  }
  .user-nombre {
    color: white;
    margin-left: 5px;
  }
  
  .menu-nav {
    padding-left: 10px;
  }
  
  .ancho {
    width: 250px;
  }
  
  .ancho-min .user {
    padding-left: 0;
  }
  .ancho-min .ancho {
    width: 70px;
    align-items: center;
  }
  
  .ancho-min .menu-nav {
    padding-left: 0;  
  }
  
  .ancho-min li.menu-items {
    display: block;
    width: initial;
  }
  
  .ancho-min .menu-items span, .ancho-min .logo-texto,
  .ancho-min .user-nombre, .ancho-min .menu-titles,
  .ancho-min .menu-boton, .ancho-min .menu-nav-seg {
    display: none !important;
  }
  
  
  .menu-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  li.menu-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 230px;
    justify-content: space-between;  
    
    span {
      margin-left: 1rem;
    }
  }
  
  
  .menu-nav a, .menu-nav .menu-titles {
    color: #687384;
    padding-top: 2rem;
    display: block;
    text-decoration: none;
    
  }
  .menu-nav .menu-titles {
    text-transform: uppercase;
  }
  
  .menu-nav a:hover, ul.menu-nav-seg .menu-items-seg a:hover {
    color: #EBEBD3;
  }
  
  .menu-nav--icon {
    font-size: 1.3rem !important;
    line-height: 1;
    margin-right: 1rem;
    text-align: left;
    vertical-align: top;
  }
  ul.menu-nav-seg {
    width: 100%;
    display: none;
    padding-left: 35px;
  }
  ul.open-menu-nav-seg {
    display: block;
  }
  ul.menu-nav-seg .menu-items-seg a {
    color: #687384;
    padding-top: 9px;
    display: block;
    text-decoration: none;
  }
  
  a.menu-toggle {
    cursor: pointer;
  }
  
  
  
  
  