.slider{
    margin: 0 auto 100px;
    width: 100vw;
    height: 90vh;
    padding: 0px !important; 
    /* prioriza o 0 em qualquer lugar do código */
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input{
    display: none;
}
.slider-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slider-box img{
    width: 100%;
}
.nav-auto, .nav-manual{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 47%;
}
.nav-auto div, .nav-manual .manual-btn{
    border: 1px solid var(--color-primary-6);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: orange;
}
#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: orange;

}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}