@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('fooder.css');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('feedback.css');
@import url('carrossel.css');

:root{
    --color-font-branca:#fff9ea;
    --color-primary-2:#ffe8b4;
    --color-primary-3:#f8d477;
    --color-primary-4:#ffe100;
    --color-primary-5:#ffcb45;
    --color-primary-6:#ef7c1d;

    --color-neutra-1:#fff;
    --color-neutra-2:#1d1d1d;
}
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

section{
    padding: 28px 8px;
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.btn-default:hover{
    background-color: var(--color-primary-3);
}
.social-media-buttons{
    display: flex;
    gap: 18px;
}
.social-media-buttons a{
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-neutra-1);
    font-size: 1.25rem;
    color: var(--color-primary-6);
    box-shadow: 0px 0px 12px 4px rgba(184, 20, 20, 0.1);
    transition: box-shadow .3s ease;
}
.social-media-buttons a:hover{
    box-shadow: 0px 0px 12px 8px rgba(185, 180, 19, 0.363);
}